
[*]

# ReSharper properties
resharper_align_multiline_argument = true
resharper_align_multiline_parameter = true
resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_after_start_comment = 0
resharper_blank_lines_before_control_transfer_statements = 0
resharper_braces_for_for = required
resharper_csharp_max_line_length = 200
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_int_align_assignments = true
resharper_int_align_comments = true
resharper_int_align_fields = true
resharper_int_align_methods = true
resharper_int_align_parameters = true
resharper_int_align_properties = true
resharper_int_align_property_patterns = true
resharper_int_align_switch_expressions = true
resharper_int_align_switch_sections = true
resharper_int_align_variables = true
resharper_place_simple_embedded_statement_on_same_line = false

# Microsoft .NET properties
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true
